<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaksis-heading" jhiTranslate="pustakaApp.transaksis.home.createOrEditLabel">Create or edit a Transaksis</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pustakaApp.transaksis.tanggalPinjam" for="field_tanggalPinjam">Tanggal Pinjam</label>
                    <div class="input-group">
                        <input id="field_tanggalPinjam" type="text" class="form-control" name="tanggalPinjam" ngbDatepicker  #tanggalPinjamDp="ngbDatepicker" formControlName="tanggalPinjam"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tanggalPinjamDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pustakaApp.transaksis.tanggalKembali" for="field_tanggalKembali">Tanggal Kembali</label>
                    <div class="input-group">
                        <input id="field_tanggalKembali" type="text" class="form-control" name="tanggalKembali" ngbDatepicker  #tanggalKembaliDp="ngbDatepicker" formControlName="tanggalKembali"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tanggalKembaliDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pustakaApp.transaksis.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pustakaApp.transaksis.anggotas" for="field_anggotas">Anggotas</label>
                    <select class="form-control" id="field_anggotas" name="anggotas" formControlName="anggotas">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="anggotasOption.id === editForm.get('anggotas').value?.id ? editForm.get('anggotas').value : anggotasOption" *ngFor="let anggotasOption of anggotas; trackBy: trackAnggotasById">{{anggotasOption.nama}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pustakaApp.transaksis.bukus" for="field_bukus">Bukus</label>
                    <select class="form-control" id="field_bukus" name="bukus" formControlName="bukus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bukusOption.id === editForm.get('bukus').value?.id ? editForm.get('bukus').value : bukusOption" *ngFor="let bukusOption of bukuses; trackBy: trackBukusById">{{bukusOption.nama}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
